.idea/
examples
mtq_controller
tmp
pod.yaml
create5vmis
delete5vmis
controller-cp.go



cmd/mtq-operator/
pkg/generated/clientset/versioned/typed/core/v1alpha1/fake/fake_mtq.go
pkg/generated/clientset/versioned/typed/core/v1alpha1/mtq.go
pkg/generated/informers/externalversions/core/v1alpha1/mtq.go
pkg/generated/listers/core/v1alpha1/mtq.go
pkg/mtq-operator/
pkg/util/util.go
vendor/github.com/evanphx/json-patch/v5/
vendor/github.com/fsnotify/
vendor/github.com/kelseyhightower/
vendor/golang.org/x/time/rate/sometimes.go
vendor/gomodules.xyz/
vendor/k8s.io/api/admission/v1beta1/
vendor/k8s.io/apimachinery/pkg/util/uuid/
vendor/k8s.io/client-go/metadata/
vendor/k8s.io/client-go/restmapper/
vendor/k8s.io/client-go/tools/leaderelection/
vendor/k8s.io/component-base/config/
vendor/k8s.io/kube-aggregator/
vendor/kubevirt.io/client-go/kubecli/kubevirt_test_utils.go
vendor/sigs.k8s.io/controller-runtime/